<header>
    <div class="logo" >
        <h1>ZAGA OPEN SOURCE</h1>
    </div>
    
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Documentation</a>
                <div class="submenu">
                    <a href="/documentation/observability"  >Observability</a>
                    <a href="/documentation/sustainability"  >Sustainability</a>
                  </div>
            </li>
            <li><a href="/videos">Videos</a></li>
        </ul>
    </nav>
</header>