<section class="landing-section">
    <div>
    <div><h1><strong><b>Observe your business with</b></strong></h1>
  
     <br><br><br>
      <div class="box-container">
          <div class="box"><h3>Observability</h3>
            <p style="margin-top: 50px; text-align:left;  font-size: 23px;">Observability enables effective monitoring and troubleshooting for enhanced software performance and reliability.</p>
            <a href="#observability"  class="read-more"  (click)="scrollToObservability()">Read More</a>
            <a href="https://github.com/ZagaUS/obeservAi-zaga" class="github-logo">
            <!-- href="https://github.com/your-username/your-repository/blob/master/path-to-your-source-file" target="_blank"> -->
            <img src="assets/github-mark.png" alt="github-logo" width="26" height="26">
          </a>
  
          </div>
  
  
  
  
        <div class="box"><h3>Sustainability</h3>
          <p style="margin-top: 50px; text-align:left;  font-size: 23px;">Sustainability ensures environmental responsibility and long-term viability in technology solutions.</p>
          <a href="#sustainability" class="read-more" (click)="scrollToSustainability()">Read More</a>
          <a href="https://github.com/ZagaUS/obeservAi-zaga" class="github-logo">
          <!-- href="https://github.com/your-username/your-repository/blob/master/path-to-your-source-file" target="_blank"> -->
          <img src="assets/github-mark.png" alt="github-logo" width="26" height="26">
        </a>
  
        </div>
      </div>
    </div>
  
  
  
  
  <br><br><br><br><br><br><br><br>
  
  <app-observability *ngIf="showObservability"></app-observability>

    <app-sustainability *ngIf="showSustainability"></app-sustainability>  
  
     </div>
    </section>
   