<div id="observability">
    <h1>Observability</h1>
<h2>Architecture</h2>
<img src="assets/arch.jpeg" alt="Architecture Image" width="700" height="500" style="padding:30px 30px 30px 30px;">
<h2>Features</h2>
<div class="grid-container">
    <div class="grid-cell" *ngFor="let item of gridItems">
      {{ item }}
    </div>
  </div>
<h2>Related Videos</h2>
<body>
   
    <div>
    
        <div class="video-container"  style="padding: 50px; display: flex; gap: 100px; background-color: #e9eaec;">
            <iframe height="250" width="350" src="https://www.youtube.com/embed/i63DjsjdR3s?si=PxRAxqK04cryvK3e" allowfullscreen></iframe>
            <iframe height="250" width="350" src="https://www.youtube.com/embed/sU4z4Ti-8OQ?si=oYuoV3kJ1iSAbsms" allowfullscreen></iframe>
        </div>
    </div>
              
          
        

            </body>
</div>