    <html style="background-color: #e9eaec;">
    <title>ZAGA OPEN SOURCE - Videos</title>
    <body>
    <div>
        <div class="main-container" style="background-color: #e9eaec; color: black;">
            <br><br><br><br><br><br>
            <h2>Videos</h2>
            <br>
            <h3>Observability</h3>
           
            <div class="video-container" style="height: 250; background-color: #e9eaec;" >
                <iframe  width="350" src="https://www.youtube.com/embed/i63DjsjdR3s?si=PxRAxqK04cryvK3e" allowfullscreen></iframe>
                <iframe width="350" src="https://www.youtube.com/embed/sU4z4Ti-8OQ?si=oYuoV3kJ1iSAbsms" allowfullscreen></iframe>
               
            </div>
        </div>

        <div style="background-color: #e9eaec; color: black;  padding: 20px;">
        <h4>Sustainability</h4>
        <div class="video-container" style="height: 250 ; background-color: #e9eaec;">
            <iframe  width="350" src="https://www.youtube.com/embed/3qBXWUpoPHo?si=PWGOPw1iDtXBRuc0" allowfullscreen></iframe>
            <iframe  width="350" src="https://www.youtube.com/embed/-9VcW7MBDs8?si=eDP3_zSKxHAVGUFr" allowfullscreen></iframe>


        </div>
    </div>
    </div>
</body>
</html>
